In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_csv('/content/car_age_price.csv')
df

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [34]:
x = df.drop('Price',axis = 1)
y = df['Price']

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [36]:
# import Lasso regression from sklearn library
from sklearn.linear_model import Lasso
 
# Train the model
lasso = Lasso(alpha = 1)
lasso.fit(x_train, y_train)
y_predictions = lasso.predict(x_test)

In [37]:
from sklearn.metrics import mean_squared_error,r2_score
print('MSE = ', mean_squared_error(y_test,y_predictions ))
print('R squared value = ',r2_score(y_test,y_predictions))

MSE =  2813386493.7294893
R squared value =  0.6593415995731267