In [1]:
import numpy as np
import pandas as pd
import statistics as stat
data = pd.read_csv('/content/Sales_add (1).csv')
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [3]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [35]:
from scipy.stats import ttest_ind
t_stat1,p_val = ttest_ind(data['Sales_After_digital_add(in $)'],data['Sales_before_digital_add(in $)'])

In [36]:
p_val

2.614368006904645e-16

In [37]:
if p_val < 0.5:
  print('Reject Null Hypothesis')
else :
  print('Accept Null Hypothesis')

Reject Null Hypothesis

In [17]:
from scipy.stats.contingency import chi2_contingency
data1 = pd.crosstab(data['Manager'],data['Region'])
p_value1 = chi2_contingency(data1).pvalue
data1

Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

Ho = Region and manager are independent,
Ha = Region and manager are dependent

In [18]:
p_value1

0.5493991051158094

In [19]:
if p_value1 < 0.5:
  print('Reject Null Hypothesis')
else :
  print('Accept Null Hypothesis')

Accept Null Hypothesis